.App {
  text-align: center;
}

.App-header {
  background-color: #54197e;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.App-content-box {
  font-size: calc(10px + 1vmin);
  flex: 1 0;
}

.App-footer {
  background-color: #f7ebff;
  position: fixed;
  bottom: 0;
  width: 100%;
}